!!!
html
	head
		title HS Help
		link(rel='stylesheet', href='bill/css/bootstrap.css')
		link(rel='stylesheet', href='bill/css/style.css')
		link(rel='stylesheet', href='bill/css/jquery.tagsinput.css')
		script(src="bill/js/jquery-1.7.2.min.js")
		script(src="bill/js/underscore-min.js")
		script(src="bill/js/bootstrap.js")
		script(src="bill/js/jquery.tagsinput.js")
		block scripts
	body!=body
				