p Fill in the form below

form(method="post", action="register")
	div
		input#fname(type='text', name="fname", placeholder="First Name")
	div
		input#lname(type='text', name="lname", placeholder="Last Name")
	div
		input#email(type='text', name="email", placeholder="E-mail")
	div
		input#password(type='password', name="password", placeholder="Password")
	div#register
		input(type="submit", value="Sign Up")

