.user
	.avatar
		img(src='http://www.gravatar.com/avatar/efc1a44cc1beb3a11ad92840c294f4da')
		// replace hash with user hash
	h2= user.nickname
	p 
		= user.name
		= user.irc
		= user.email
	.topics
		
	